/* Global Styles */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #d3d3d3; /* Light gray border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}


header {
  background-color: #2a53c4;
  color: #fff;
  padding: 0.5em 0.5em; /* Adjusted padding */
  text-align: center;
}
h1 {
  margin: 0;
  font-size: small; /* Adjusted font size */
}

/* Button Styles */
button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 16px; /* Adjusted padding */
  text-align: center; /* Align text to center */
  /* text-decoration: none; */
  display: inline-block;
  font-size: 10px; /* Adjusted font size */
  margin: 10px 0;
  width: 80px; /* Adjusted width */
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: rgb(137, 197, 231);
}

button:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

/* Main Container Styles */
main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 60%; /* Adjusted height */
}


.call-button,
.hangup-button .button-mute {
  margin-top: 1px;
  padding: 8px 16px; /* Decreased padding */
  font-size: 14px; /* Decreased font size */
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Blue color, change as needed */
  color: #fff; /* White text color, change as needed */
  display: inline-block; /* Display buttons inline */
}

/* Lighten the color of the mute button when clicked on */
.button-mute:active {
  background-color: #4da6ff; /* Lighter blue color when button is active */
}

/* Add margin between the buttons */
.hangup-button {
  margin-left: 10px; /* Add space between the buttons */
}

.startup-button {
  display: none;
  background-color: white; /* Add space between the buttons */
  border: none;
}

.column {
  /* flex: 2; */
  height: 20%;
  background-color: #fff;
  width: 70%;
  padding: 20px;
  /* border-radius: 12px; */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  height: fit-content;
  margin-bottom: 0;
}

#client-icon {
  width: 80px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

h2 {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: x-small;
}

/* Close button style */
#close-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#close-button:hover {
  background-color: darkred;
}

h6 {
  color: #333;
  font-size: 15px;
  font-weight: bold;
  /* text-transform: uppercase; */
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

h7 {
  color: #007bff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  /* margin-top: 20px; */
}

/* Form Label Styles */
label {
  display: block;
  margin-bottom: 10px;
  color: #666;
}

/* Form Input Styles */
input[type="text"],
select {
  width: calc(100% - 24px);
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

/* Log Container Styles
#log {
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #333;
} */

/* Hidden Element Styles */
.hide {
  display: none;
}

h8 {
  border-bottom: none; /* Remove border bottom */
  padding-bottom: 10px;
  margin-bottom: 0; /* Remove margin */
  font-size: medium;
  text-align: center;
}

h8 {
  /* Other properties... */
  margin-bottom: 0; /* Remove margin */
  /* Other properties... */
}

/* Dial pad section */
#dial-pad {
  width: 50%; /* Adjust width */
  margin-top: 10px; /* Adjusted margin */
  font-size: small;
}

#dial-pad-buttons {
  text-align: center;
  color: #007bff;
  padding: 0; /* Remove padding */
}

/* Hide hangup and mute buttons */
.dial-pad-button {
  width: 30px;
  height: 30px;
  font-size: 10px; /* Adjusted font size */
  padding: 2px;
  background-color: #007bff;
  border: none;
  color: white;
}
